.bmiInfo-container{
    /* background-color: blue; */
    background: url(../../images/BmiInfo-bg.png);
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
}
#world{
    margin: auto;
    display: block;
}
#hello{
    text-align: center;
}
.bmi-info{
    /* background-color: red; */
    text-align: center;
    max-width: 600px;
    margin: auto;
}
#symptoms, .symptoms-list{
    text-align: left;
}
#weight-result{
    margin-bottom: 1.5rem;
}
#bmi-score{
    margin-bottom: 0.5rem;
}
#symptoms{
    margin-top: 1rem;
}
.symptoms-list{
    /* background-color: orange; */
    margin-left: 1rem;
}
.symptoms-list li{
    margin-top: 0.3rem;
}
.bmi-range{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: auto;
}
.range{
    border: 1px solid black;
    padding: 0.3rem 3rem;
    font-size: 0.9rem;
    align-items: center;
    width: 10rem;
    margin: 2rem 0;
}
.meal-plans{
    text-align: center;
    /* max-width: 400px; */
    margin: auto;
}
.meal-plans p{
    max-width: 600px;
    font-size: 0.9rem;
    margin: auto;
}
.meal-plans button{
    background-color: #58D68D;
    border: none;
    outline: none;
    color: white;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}