.bmiInfo-container{
    /* background-color: blue; */
    background: url(../../images/BmiInfo-bg.png);
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
}
.bmiInfo-container.darken{
    background:linear-gradient(gray, black);
    overflow: hidden;
}
#weight-img{
    margin: 2rem auto 1rem ;
    display: block;
}
#hello{
    text-align: center;
}
.bmi-info{
    /* background-color: red; */
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.your-score{
    font-size: 1.2rem;
    font-weight: bold;
}
#symptoms, .symptoms-list{
    text-align: left;
}
#weight-result{
    margin-bottom: 1.5rem;
}
#bmi-score{
    margin-bottom: 0.5rem;
}
.symptoms{
    margin-top: 1rem;
}
.symptoms-list{
    /* background-color: orange; */
    overflow-x: visible;
    margin-left: 1rem;
}
.symptoms-list li{
    margin-top: 0.3rem;
    font-size: 0.9rem;
    list-style-type: circle !important;
    overflow-x: visible;
}
.bmi-range{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: auto;
}
.range{
    border: 1px solid black;
    padding: 0.3rem 3rem;
    font-size: 0.8rem;
    align-items: center;
    width: 15rem;
    margin: 2rem 0;
    height: fit-content;
    
}
.range p{
    margin-bottom: 0.5rem;
}
.meal-plans{
    text-align: center;
    /* max-width: 400px; */
    margin: auto;
}
.meal-plans p{
    max-width: 600px;
    font-size: 0.9rem;
    margin: auto;
}
.meal-plans button{
    background-color: #58D68D;
    border: none;
    outline: none;
    color: white;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    font-size: 1rem ;
}
.home-btn{
    background-color: #58D68D;
    border: none;
    outline: none;
    color: white;
    margin: 1rem auto;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    width: 250px;
    text-decoration: none;
    text-align: center;

}


/* -----------------------------------------------------------------MEDIA SCREEN FOR SMALL DEVICES---------------------------------------------------- */
@media screen and (max-width: 600px){
    .bmi-info{
        text-align: center;
    }
    #bmi-details{
        max-width: 300px;
        margin: auto;
        line-height: 1.2rem;
        margin-top: 1rem;
    }
    .bmi-range{
        flex-direction: column;
        margin: 2rem auto;
        gap: 0;
    }
    .range{
        margin: 0;
        text-align: center;
    }
    #advice{
        max-width: 300px;
    }
    .symptoms-list{
        text-align: center;
        width: fit-content;
        margin: auto;
    }
    
}