.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(222,247,232, 0.3);
    padding: 0.9rem 2.5rem;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#logo{
    width: 110px;
}
.nav-links button{
    background-color: #58D68D;
    border: none;
    outline: none;
    padding: 0.5rem 1.5rem;
    margin-left: 2rem;
    border-radius: 8px;
    color: white;
}